@page {
    margin: 1cm;
}

body {
    color: #222;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Header styles */
h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    background-color: #444;
    color: #eee;
    padding: .2em;
    padding-left: .5em;
    border-radius: 5px;
    margin-top: 2em;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    padding: .2em;
    padding-left: .5em;
}

/* Paragraph styles */
p {
    line-height: 1.5;
    font-size: 16px;
    padding: .2em;
    padding-left: 1em;
}

p code {
    padding-left: 1em;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Inconsolata', monospace;
    color: rgb(16, 16, 97);
}

pre {
    padding-left: 2em;
    line-height: 1;  /* To avoid spaces between lines */
}

pre code {
    white-space: pre;
    font-size: 8px;
    font-family: 'Inconsolata', monospace;
    line-height: 1;  /* To avoid spaces between lines */
}

/* Table styles */
table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

figcaption {
    font-size: small;
    font-style: italic;
    text-align: center;
    padding-top: .5em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}