.cache
core
/core.*
.vscode
.env
.idea
*.log
*.pkl

/build

__pycache__
.venv

# TTLens related files
ttlens-export*.zip
ttlens-export
ttlens-server.pkl
ttlens/server/lib/configuration/*.embed

# ClangD
compile_commands.json

# Various build fragments
.coverage
*.egg-info

/third_party/jtag-access-library
