.cache
core
/core.*
.vscode
.env
.idea
*.log
*.pkl

/build
/sfpi

__pycache__
.venv

# TTLens related files
ttlens-export*.zip
ttlens-export
ttlens-server.pkl
ttlens/server/lib/configuration/*.embed

# ClangD
compile_commands.json

# Various build fragments
.coverage
*.egg-info

# Noc CodeGen
scripts/noc_to_python/codegen-noc-overlay-blackhole
scripts/noc_to_python/codegen-noc-overlay-wormhole
