.cache
core
/core.*
.vscode
.env
.idea
*.log
*.pkl

.cpmcache
/build

__pycache__
.venv

# TTExaLens related files
ttexalens-export*.zip
ttexalens-export
ttexalens-server.pkl

# ClangD
compile_commands.json

# Various build fragments
.coverage
*.egg-info

# Noc CodeGen
scripts/noc_to_python/codegen-noc-overlay-blackhole
scripts/noc_to_python/codegen-noc-overlay-wormhole
