name: "BUILD TTEXALENS"

on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: tt-ubuntu-2204-large-stable
      os:
        required: false
        type: string
        default: "ubuntu-22.04"
      config:
        required: false
        type: string
        default: "Release"
      docker-image:
        required: false
        type: string
        default: "ghcr.io/${{ github.repository }}/tt-exalens-ubuntu-22-04:latest"

run-name: BUILD TTEXALENS by @${{ github.actor }} triggered by ${{ github.event_name }} event (${{ github.ref_name }})

jobs:
  build_libs:
    env:
      CONFIG: ${{ inputs.config }}
      # So we can get all the makefile output we want
      VERBOSE: 1
    runs-on: ${{ inputs.runs-on }}
    container:
      image: ${{ inputs.docker-image }}
    name: "Build tt-exalens"
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Git safe dir
        run: git config --global --add safe.directory $(pwd)
      - name: Run pre-commit
        run: |
          pre-commit run --all-files --show-diff-on-failure
      - name: Run mypy
        run: |
          which mypy
      - name: Build test kernels
        run: |
          make
      - name: Build wheel
        run: |
          make wheel
      - name: Remove SFPI from build artifacts
        run: |
          mv build/sfpi build/sfpi_backup
          mkdir -p build/sfpi/compiler/bin/
          cp build/sfpi_backup/compiler/bin/riscv-tt-elf-gdb build/sfpi/compiler/bin/riscv-tt-elf-gdb
          rm -rf build/sfpi_backup
          rm -f build/sfpi_*
      - name: Upload libraries as artifacts
        uses: pyTooling/upload-artifact@v4
        with:
          name: ttexalens-build-${{ inputs.os }}
          path: |
            build
