name: "BUILD TTEXALENS"

on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: tt-ubuntu-2204-large-stable
      os:
        required: false
        type: string
        default: "ubuntu-22.04"
      config:
        required: false
        type: string
        default: "Release"
      docker-image:
        required: false
        type: string
        default: "ghcr.io/${{ github.repository }}/tt-exalens-ubuntu-22-04:latest"

run-name: BUILD TTEXALENS by @${{ github.actor }} triggered by ${{ github.event_name }} event (${{ github.ref_name }})

jobs:
  build_libs:
    env:
      CONFIG: ${{ inputs.config }}
      # So we can get all the makefile output we want
      VERBOSE: 1
    runs-on: ${{ inputs.runs-on }}
    container:
      image: ${{ inputs.docker-image }}
    name: "Build TT-EXALENS."
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Git safe dir
        run: git config --global --add safe.directory $(pwd)
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          create-symlink: true
          key: ttexalens-${{ inputs.config }}-${{ inputs.os }}
      - name: Build TTEXALENS
        run: |
          make debug
          make release
      - name: Run mypy
        run: |
          make mypy
      - name: Build wheel
        run: |
          make release
          make wheel
      - name: Upload libraries as artifacts
        uses: pyTooling/upload-artifact@v4
        with:
          name: ttexalens-build
          path: |
            build
            build_debug
            build_release
            build_riscv
