name: "Run all tests"

on:
  workflow_dispatch:
  workflow_call:

jobs:

  build-image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ubuntu-version: ["22.04", "24.04"]
    outputs:
      docker-image: ${{ steps.build.outputs.docker-image }}
      public-docker-image: ${{ steps.build.outputs.public-docker-image }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker images and output the image name
        id: build
        shell: bash
        run: |
          # Output the image name
          set pipefail
          .github/build-docker-images.sh ${{ matrix.ubuntu-version }} | tee docker.log
          PUBLIC_DOCKER_CI_IMAGE=$(tail -n 2 docker.log | head -n 1)

          # Replace use harbor.ci.tenstorrent.net if running on shared runner (tt-ubuntu-2204-large-stable)
          DOCKER_CI_IMAGE="harbor.ci.tenstorrent.net/$PUBLIC_DOCKER_CI_IMAGE"
          echo "Replaced registry in Docker image name to use harbor cache"

          echo "PUBLIC_DOCKER_CI_IMAGE $PUBLIC_DOCKER_CI_IMAGE"
          echo "public-docker-image=$PUBLIC_DOCKER_CI_IMAGE" >> "$GITHUB_OUTPUT"
          echo "DOCKER_CI_IMAGE $DOCKER_CI_IMAGE"
          echo "docker-image=$DOCKER_CI_IMAGE" >> "$GITHUB_OUTPUT"

  build:
    needs: build-image
    strategy:
      matrix:
        ubuntu-version: ["22.04", "24.04"]
    uses: ./.github/workflows/build-ttexalens.yml
    with:
      runs-on: ubuntu-latest
      docker-image: ${{ needs.build-image.outputs.public-docker-image }}
      os: ubuntu-${{ matrix.ubuntu-version }}

  set-latest:
    # Set the latest tag on the IRD image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ubuntu-version: ["22.04", "24.04"]
    needs: build-image
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_TOKEN }}
      - name: Set latest tag on the image
        run: |
          DOCKER_CI_IMAGE=${{ needs.build-image.outputs.docker-image }}
          DOCKER_TAG=$(echo $DOCKER_CI_IMAGE | sed 's/^.*://')
          CI_IMAGE_NAME=ghcr.io/${{ github.repository }}/tt-exalens-ci-ubuntu-${{ matrix.ubuntu-version }}
          echo "Setting latest tag on the image $CI_IMAGE_NAME:$DOCKER_TAG"
          skopeo copy "docker://$CI_IMAGE_NAME:$DOCKER_TAG" "docker://$CI_IMAGE_NAME:latest"
          IRD_IMAGE_NAME=ghcr.io/${{ github.repository }}/tt-exalens-ird-ubuntu-${{ matrix.ubuntu-version }}
          echo "Setting latest tag on the image $IRD_IMAGE_NAME:$DOCKER_TAG"
          skopeo copy "docker://$IRD_IMAGE_NAME:$DOCKER_TAG" "docker://$IRD_IMAGE_NAME:latest"

  build-and-run-unit-tests:
    needs:
      - build
      - build-image
    strategy:
      matrix:
        ubuntu-version: ["22.04", "24.04"]
        runner-info: [
          {arch: "blackhole", board: "p150b", runs-on: "tt-ubuntu-2204-p150b-stable"},
          {arch: "wormhole_b0", board: "n150", runs-on: "tt-ubuntu-2204-n150-stable"},
          {arch: "wormhole_b0", board: "n300", runs-on: "tt-ubuntu-2204-n300-stable"},
        ]
    env:
      ARCH_NAME: ${{ matrix.runner-info.arch }}
      CONFIG: ci
      # So we can get all the makefile output we want
      VERBOSE: 5
      LOGGER_LEVEL: INFO
    runs-on: ${{ matrix.runner-info.runs-on }}
    container:
      image: ${{ needs.build-image.outputs.docker-image }}
      options: --device /dev/tenstorrent/0
      volumes:
        - /dev/hugepages:/dev/hugepages
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /etc/udev/rules.d:/etc/udev/rules.d
        - /lib/modules:/lib/modules
    name: Build and run unit test on ${{ matrix.runner-info.arch }} ${{ matrix.runner-info.board }} (Ubuntu ${{ matrix.ubuntu-version }})
    steps:
      - name: Git safe dir
        run: git config --global --add safe.directory '*'

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: pyTooling/download-artifact@v4
        with:
          name: ttexalens-build-ubuntu-${{ matrix.ubuntu-version }}

      - name: Fetch job id
        id: fetch-job-id
        uses: tenstorrent/tt-github-actions/.github/actions/job_id@main
        with:
          job_name: "Build and run unit test on ${{ matrix.runner-info.arch }} ${{ matrix.runner-info.board }} (Ubuntu ${{ matrix.ubuntu-version }})"
          # gh_token: ${{ secrets.GH_TOKEN }}

      - name: Set reusable strings
        id: strings
        shell: bash
        env:
          JOB_ID: ${{ steps.fetch-job-id.outputs.job_id }}
        run: |
          echo "test_report_path=report_$JOB_ID.xml" >> "$GITHUB_OUTPUT"

      - name: Run Python tests for ttexalens library
        run: |
          python3 -m xmlrunner discover -v -t . -s test/ttexalens -p '*test*.py' \
          --output-file ${{ steps.strings.outputs.test_report_path }}

      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        with:
          name: test-reports-${{ matrix.ubuntu-version }}-${{ matrix.runner-info.arch }}-${{ matrix.runner-info.board }}
          path: ${{ steps.strings.outputs.test_report_path }}

      - name: Run Python tests for TTExaLens app
        run: |
          python3 -m unittest discover -v -t . -s test/app -p *test*.py


  wheel-test:
    needs:
      - build
      - build-image
    strategy:
      matrix:
        ubuntu-version: ["22.04", "24.04"]
        runner-info: [
          {arch: "blackhole", board: "p150b", runs-on: "tt-ubuntu-2204-p150b-stable"},
          {arch: "wormhole_b0", board: "n150", runs-on: "tt-ubuntu-2204-n150-stable"},
          {arch: "wormhole_b0", board: "n300", runs-on: "tt-ubuntu-2204-n300-stable"},
        ]
    env:
      ARCH_NAME: ${{ matrix.runner-info.arch }}
      CONFIG: ci
      # So we can get all the makefile output we want
      VERBOSE: 5
    runs-on: ${{ matrix.runner-info.runs-on }}
    container:
      image: ${{ needs.build-image.outputs.docker-image }}
      options: --device /dev/tenstorrent/0
      volumes:
        - /dev/hugepages:/dev/hugepages
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /etc/udev/rules.d:/etc/udev/rules.d
        - /lib/modules:/lib/modules
    name: Build, install wheel and test it on ${{ matrix.runner-info.arch }} ${{ matrix.runner-info.board }} (Ubuntu ${{ matrix.ubuntu-version }})
    steps:
      - name: Git safe dir
        run: git config --global --add safe.directory '*'

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: pyTooling/download-artifact@v4
        with:
          name: ttexalens-build-ubuntu-${{ matrix.ubuntu-version }}
      - name: Install wheel
        run: |
          pip install build/ttexalens_wheel/*.whl
      - name: Run tests
        run: |
          # Change to the wheel tests directory so that we are certain we don't import dev files
          cd test/wheel
          ./run-wheel.sh
