name: "Release"
description: "Release official ttexalens wheel, triggered manually or by updating VERSION on main."

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
        "VERSION"

run-name: "Release by @${{ github.actor }} for ${{ github.ref_name }}"

permissions:
  contents: write

jobs:
  prepare-release:
    name: "Prepare Release"
    runs-on: "ubuntu-22.04"
    outputs:
      wheel-name: ${{ steps.prepare-wheel.outputs.wheel-name }}
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: "Read version from VERSION file"
        id: get-version
        run: echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT
      - name: "Prepare Wheel Release"
        uses: ./.github/actions/prepare-wheel-release
        id: prepare-wheel
        with:
          python-version: "3.10"
          build-version: ${{ steps.get-version.outputs.version }}

  release:
    needs: prepare-release
    runs-on: ubuntu-22.04
    name: "Release"
    steps:
      - name: "Download wheel artifact"
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.prepare-release.outputs.wheel-name }}
      - name: "Create GitHub Release"
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "v${{ needs.prepare-release.outputs.version }}"
          name: Release v${{ needs.prepare-release.outputs.version }}
          prerelease: true
          draft: true
          files: |
            *.whl
