name: "Release Latest"
description: "Release latest ttexalens wheel, triggered manually or by pushing/merging to main. Will overwrite existing 'latest' release."

on:
  workflow_dispatch:
  push:
    branches:
      - "main"

run-name: "Release latest by @${{ github.actor }} for ${{ github.ref_name }}"

permissions:
  contents: write

jobs:
  prepare-release:
    name: "Prepare Release"
    runs-on: "ubuntu-22.04"
    outputs:
      wheel-name: ${{ steps.prepare-wheel.outputs.wheel-name }}
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: "Prepare Wheel Release"
        uses: ./.github/actions/prepare-wheel-for-release
        id: prepare-wheel
        with:
          python-version: "3.10"
          build-version: "latest"

  release-latest:
    needs: prepare-release
    runs-on: ubuntu-22.04
    name: "Release Latest"
    steps:
      - name: "Download wheel artifact"
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.prepare-release.outputs.wheel-name }}
      - name: "Create GitHub Release"
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "latest"
          name: "Latest Release - Development Build"
          prerelease: true
          generate_release_notes: true
          files: |
            *.whl
