name: "Release Latest"
description: "Release latest ttexalens wheel, triggered manually or by pushing/merging to main. Will overwrite existing 'latest' release."

on:
  workflow_dispatch:
  push:
    branches:
      - "main"

run-name: "Release latest by @${{ github.actor }} for ${{ github.ref_name }}"

permissions:
  contents: write

jobs:
  build-and-release-latest:
    name: "Build and Release Latest Wheel"
    runs-on: ubuntu-latest
    steps:
      - name: "Build and Release Wheel"
        uses: ./.github/workflows/release.yml
        with:
          version: "latest"
