name: "Release"

on:
  push:
    branches:
      - "main"
    paths:
      - "VERSION"

run-name: "Release by @${{ github.actor }} for ${{ github.ref_name }}"

permissions:
  contents: write

jobs:
  build-and-release:
    name: "Build and release wheel of version specified in VERSION file"
    uses: ./.github/workflows/release.yml
    with:
      publish-to-pypi: true
