name: "Release"
description: "Release ttexalens wheel, triggered by updating VERSION on main."

on:
  push:
    branches:
      - "main"
      - "onenzic/release-docker" # for testing purposes

run-name: "Release by @${{ github.actor }} for ${{ github.ref_name }}"

permissions:
  contents: write

jobs:
  build-and-release:
    name: "Build and release wheel of version specified in VERSION file"
    uses: ./.github/workflows/release.yml

  publish-to-testpypi:
    name: Publish package to TestPyPI
    needs: build-and-release
    runs-on: ubuntu-latest

    environment:
      name: testpypi-release
      url: https://test.pypi.org/p/tt-exalens

    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing

    steps:
      - name: Download all the wheels
        uses: actions/download-artifact@v4
      - name: Move wheels to dist directory
        # PyPI publisher action expects files to be in dist/
        run: |
          mkdir -p dist
          find . -type f -name "*.whl" -exec mv {} dist/ \;
      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true
